h3 {
    margin: 0;
}
.market_name{
    border:none;
    height:50px;
    width:300px;
    font-size:25px;
    font-weight: bold;
}
.clear{
    clear: both;
}
.API_section div{
    float:left;
    font-size:18px;
    width:100px;
}
.API_section input{
    border:none;border-bottom:1px solid black;width:150px
}
#run_bot {
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
}

.support_currency>span>span{
    margin-left: 20px;
}
#cryp_nav .badge {
    background-color: #777;
}

#cryp_nav .tabs-left {
    margin-top: 3rem;
}

#cryp_nav .nav-tabs {
    float: left;
    border-bottom: 0;
}

#cryp_nav .nav-tabs li {
    float: none;
    margin: 0;
}

#cryp_nav .nav-tabs li a {
    margin-right: 0;
    border: 0;
    background-color: white;
    border-radius: 0px;
    border: 1px solid black;
    border-bottom: none;
}

#cryp_nav .nav-tabs li a:hover {
    background-color: lightgrey;
}

#cryp_nav .nav-tabs .glyphicon {
    color: #fff;
}

#cryp_nav .nav-tabs .active .glyphicon {
    color: #333;
}

#cryp_nav .nav-tabs>li.active>a,
#cryp_nav .nav-tabs>li.active>a:hover,
#cryp_nav .nav-tabs>li.active>a:focus {
    background: lightgrey;
}

#cryp_nav .tab-content {
    margin-left: 45px;
}

#cryp_nav .tab-content .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
}

#navbar_left {
    margin-right: 50px;
}

#cryp_nav .tab-content .active {
    display: block;
}

#cryp_nav .list-group {
    width: 100%;
}

#cryp_nav .list-group .list-group-item {
    height: 50px;
}

#cryp_nav .list-group h4,
span {
    line-height: 11px;
}

body {
    padding: 100px;
}

.brand-margin {
    margin-top: 4px;
    margin-bottom: 4px
}

.navbar-header a {
    font-size: 30px;
    font-weight: bold;
}

.container-fluid {
    padding: 0;
}


/* 
.nav.navbar-nav.navbar-left li {
text-align: center;
width: 110px;
border: 1px solid black;
border-right-width: 0px;
} */

#navbar_left li {
    border: 1px solid black;
    border-right: none;
    text-align: center;
    width: 150px;
}

.nav.navbar-nav.navbar-right {
    display: flex;
}

.nav.navbar-nav.navbar-right .active {
    background-color: lightgrey;
}

.nav.navbar-nav.navbar-right .active a {
    color: green;
}

#navbar_right>li {
    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
}

.inlinediv {
    display: inline-block;
    padding-right: 5%;
    vertical-align: top;
}

.plb-tooltip {
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: black;
}

.plb-tooltip:hover {
    text-decoration: none;
}

form h5 {
    font-weight: 700;
}

form p,
form h5 {
    margin-bottom: 5px;
}

.nav .glyphicon {
    color: black;
}

#file,
#input-file {
    display: none;
}

#form_cover .form-group {
    margin-bottom: 35px;
}